<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashScreen"
        tools:targetApi="31">
        <activity
            android:name=".Mitos.timerTorneoFuria"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer"/>
        <activity
            android:name=".Mitos.timerCasualFuria"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer"/>
        <activity
            android:name=".Mitos.MesaMitosFuria"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer"/>
        <activity
            android:name=".Pokemon.timerPokemonCasual"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Pokemon.timerPokemonTorneo"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Pokemon.mesaPokemon"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Vanguard.timerVanguardCasual"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Vanguard.timerVanguardTorneo"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Vanguard.mesaVanguard"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Mitos.timerCasual"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Mitos.timerTorneo"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Mitos.MesaMitos"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Mitos.eleccionNuevaEra"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Mitos.mitosPrincipal"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Principales.Modo"
            android:exported="false"
            android:theme="@style/Base.Theme.TanukiTimer" />
        <activity
            android:name=".Principal"
            android:exported="true"
            android:theme="@style/theme.app.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>